import("methods")
import("GenomicRanges")
import("abind")
import("IRanges")
importFrom("Rsamtools", "scanBam")
importFrom("GenomeInfoDb", "seqlevels")
importFrom("baySeq", "getLibsizes")
exportMethods("dim", "[", "show")
export("readRibodata", "findCDS", "frameCounting", "readingFrame", "filterHits", "plotCDS", "plotTranscript", "sliceCounts", "rnaCounts", "plotFS", "lengthDist", "libScales")
